<h1>About MyWay</h1>
<p>
	<a href="http://mywaynetworks.com">MyWay Networks</a>
	is location-based app for mapping critical safety and security events in your neighborhood to keep you, your neightbors, friends and family safe.  Learn more @ 
	<a href="http://redcross.org">American Red Cross</a>!
</p>
